.cards{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 200px;
    padding: 20px;
    color: #0077B6;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.cards:hover{
    border-radius: 10px;
    transition: 0.2s;
    transform: scale(1.1);
    border-left: 5px solid #0077B6;
}

.titulo-card{
    font-family: verdana;
}
